body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.imgFondo{
    background-image: url('https://uzer.co/en/images/servicio_ux.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100vh;
}

.imgFondo h1 {
    text-decoration: underline;
}